<!-- about.html -->
<div class="jumbotron">
      <h2>About</h2>
      <p> MAROON-X is based on a two-arm KiwiSpec R4-100 spectrograph offering a wavelength coverage of 500 – 900 nm at a resolving power of R~80k. The fiber feed and main optical elements are under vacuum and the VPH cross-dispersers and camera optics in pressure stabilized barrels. The beam size is compressed by a factor of 3x before entering the two cross- disperser and camera arms, allowing for a compact optical design. The spectrograph will be placed in a temperature controlled enclosure system to achieve 10 mK P-V stability at the vacuum vessel and 1 mK rms at the echelle grating.</p>
</div>
