<!-- about.html -->
<div class="jumbotron">
      <h2>Wave-Length Calibration System</h2>
      <iframe src="http://127.0.0.1:5000/dashboard-solo/db/laboratory-monitoring?panelId=1&fullscreen&from=1453701600000&to=1453750405460" width="800" height="400" frameborder="0"></iframe>
</div>
