<!-- contact.html -->
    <div class="jumbotron">
        <h2>Contact</h2>

        <p>Jacob L. Bean<br>
          773-702-9568<br>
          jbean@oddjob.uchicago.edu<br>
          http://astro.uchicago.edu/~jbean</p>
    </div>
