<!-- update html -->
    <div class="jumbotron">
        <h2>Astronomy Image of the Day</h2>
<script>
var url = "https://api.nasa.gov/planetary/apod?api_key=lx5DYb7HYryFgEFuIwz5lEHHukQBaHzztZ6bCnc4";


$.ajax({
  url: url,
  success: handleResult
});
function handleResult(result){
  if("copyright" in result) {
    $("#copyright").text("Image Credits: " + result.copyright);
  }
  else {
    $("#copyright").text("Image Credits: " + "Public Domain");
  }

  if(result.media_type == "video") {
    $("#apod_img_id").css("display", "none");
    $("#apod_vid_id").attr("src", result.url);
  }
  else {
    $("#apod_vid_id").css("display", "none");
    $("#apod_img_id").attr("src", result.url);
  }
  $("#reqObject").text(url);
  $("#returnObject").text(JSON.stringify(result, null, 4));
  $("#apod_explaination").text(result.explanation);
  $("#apod_title").text(result.title);
}
</script>
<p id="apod_title"></p><br>
<img id="apod_img_id" class="img-responsive"><br>
<p id="apod_explaination"></p><br>
<p id="copyright"></p>

    </div>
