<!DOCTYPE html>
<html ng-app="maroonApp">
  <head>
    <meta charset="utf-8">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" />


<!-- main css -->
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- <Angular> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="/javascripts/script.js"></script>

  <title>Maroon-X</title>
  </head>

<!-- <define angular controller> -->

<body ng-controller="homeController">
<!-- <Header and Navbar> -->
  <header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <div class="container">
              <h1>Are There Other Planets Like Earth?</h1>
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                   <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                   <li><a href="#people"><i class="fa fa-smile-o"></i> People</a></li>
                   <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
               </ul>
          </div>
        </div>
    </nav>
  </header>
       <!-- <MAIN CONTENT AND INJECTED VIEWS> -->
  <div class="jumbotron">

    <center><img src="images/maroonx-logo.png"></center>
            <!-- <this is where content will be injected> -->
  <div ng-view>hello</div>

  </div>
  <% include ./partials/about %>
  <% include ./partials/people %>

  <% include ./partials/contact %>
<footer>
  &copy; 2016
</footer>

  </body>
</html>
